.about-us {
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
    text-align: center;
    border: 1px solid red;
}

.profiles {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
} 

.profiles-group {
    position: relative;
    margin-left: -1rem;
    cursor: pointer;
}

img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    border: 4px solid grey;
    position: relative;
    top: 0;
    transition: 250ms top ease-in-out;
    margin-bottom: 50px;
}

.name {
    margin-top: -30px;
    position: absolute;
    font-size: 25px;
    color: white;
    background-color: rgb(53, 49, 49);
    border-radius: 5px;
    width: 95px;
    padding: 7px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.profiles-group:hover {
    top: -1rem;
    z-index: 90;
}

.profiles-group:hover .name {
    display: block;
}

.biographies {
    width: 400px;
    height: 300px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(77, 67, 63);
    color: white;
    overflow: scroll;
    margin: 0 auto;
    margin-top: 35px;
}

.biographies h2 {
font-size: 25px;
}

/* .biographies:hidden {
    display: flex;
    flex-direction: column;
    border: 2px blue;
} */

