.page {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #dfc8b0;
    color: black;
}

.header {
    height: 500px;
    background-image: url(../images/header-banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nav {
    height: 100px;
    /* background-color: #151316; */
    position: relative;
}

.nav__logo {
    height: 80px;
    width: 80px;
    position: absolute;
    top: 10px;
    left: 20px;
}

.nav__links {
    display: flex;
    justify-content: center;
    margin-right: 30px;
    gap: 20px;
    list-style-type: none;
    padding-top: 35px;
}

.nav__link {
    text-decoration: none;
    font-size: 25px;
    line-height: 30px;
    color: #e77836;
    border: 1px solid #e77836;
    border-radius: 8px;
    background-color: #3f1409;
}

.nav__link:hover {
    opacity: 0.7;
}

.user-form {
    height: auto;
    text-align: center;
    background-image: linear-gradient(to top, rgba(49, 34, 25, 0.9), rgba(223, 200, 176, 0.6));
}

.user-form__title {
    padding-top: 30px;
    font-size: 35px;
    line-height: 40px;
    margin: 0;
}

.form {
    margin: 0 auto;
    max-width: 385px;
    margin-top: 80px;
    padding-bottom: 120px;
}

.form__fieldset {
    border: none;
    margin: auto;
    max-width: 385px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.form__label {
    margin-bottom: 8px;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 500;
    font-style: normal;
    align-self: flex-start;
}


.form__label:last-child {
    margin-bottom: 0;
}

.form__input,
.form__select {
    border: #838383 solid 1px;
    border-radius: 4px;
    width: 100%;
    height: 50px;
    margin-bottom: 32px;
    padding: 15px;
    box-sizing: border-box;
}


.form__input::placeholder {
    color: gray;
}


.form__input:focus-visible {
    outline-color: rgb(149, 190, 175);
}

.form__button {
    height: 60px;
    width: 100%;
    max-width: 385px;
    margin-bottom: 32px;
    background-color: #3f1409;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.form__button:hover {
    opacity: 0.7;
}

.form__link {
    border: 1px solid white;
    height: 25px;
    width: 100px;
    font-size: 20px;
    padding: 10px;
    background-color: #3f1409;
    text-decoration: none;
    border-radius: 8px;
    color: white;
}

.form__link:hover {
    opacity: 0.7;
}



.our-pets {
    height: 850px;
    text-align: center;
    background-image: radial-gradient(circle, rgba(49, 34, 25, 0.9), rgba(223, 200, 176, 0.6));
    overflow: scroll;
}

.our-pets__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 16px;
    justify-items: center;
    padding: 16px;
}

.our-pets__title {
    padding-top: 30px;
    font-size: 35px;
    line-height: 40px;
    font-weight: bold;
    margin-bottom: 16px;
    text-align: center;
}

.our-pets__card {
    background-color: #a29d90;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(26, 43, 57, 0.3);
    padding: 16px;
    margin: 0;
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.our-pets__card:hover {
    box-shadow: 0 10px 20px rgba(26, 43, 57, 0.4);
    transform: translateY(-5px);
}

.our-pets__card:active {
    box-shadow: 0 3px 6px rgba(26, 43, 57, 0.4);
    transform: translateY(0px);
    transition: all 0.1s ease;
}

.our-pets__card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}


.our-pets__card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 4px;
    margin-bottom: 16px;
}

.our-pets__card-content {
    font-size: 16px;
    margin-bottom: 16px;
}


.our-pets__card-content-list {
    list-style-type: none;
    padding: 0;
}

.our-pets__card-content-list-item {
    margin-bottom: 8px;
}


.our-pets__card-content-list-item:last-child {
    margin-bottom: 0;
}

.our-pets__section {
    display: grid;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 300px;
}

.partners__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
}

.partners__list-item {
    text-decoration: none;
}

.partners__list-item:hover {
    opacity: 0.7;
}

.footer {
    background-color: #dfc8b0;
    color: #312219;
}

.footer__lists {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.partners {
    width: 200px;
    margin-right: 20px;
}

.socials {
    width: auto;
    margin-right: 20px;
}

.contact-us {
    width: 200px;
}

.contact-us__phone,
.contact-us__email {
    margin-top: 10px;
}

.footer__text {
    padding: 10px;
    text-align: center;
    background-color: #312219;
    border-radius: 5px;
    color: #dfc8b0;
    font-size: 18px;
    line-height: 20px;
}

.partners__title,
.socials__title,
.contact-us__title {
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.socials__title {
    text-align: center;
}

.partners__list-item,
.socials__link,
.contact-us__phone,
.contact-us__email {
    color: #312219;
}

.socials__links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.socials__link {
    text-decoration: none;
    background-color: #a29d90;
    color: #312219;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.socials__link:hover {
    opacity: 0.7;
    transform: translateY(-2px);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}
