.page {
    max-width: 1440px;
    margin: 0 auto;
    background-color: bisque;
}

.header {
    height: 500px;
    border: 1px solid red;
}

.nav {
    height: 200px;
}

.nav__links {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    gap: 20px;
    list-style-type: none;
    padding-top: 20px;
}

.nav__link{
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
}

.nav__link:hover {
    opacity: 0.7;
}

.user-form{
    height: auto;
    text-align: center;
    border: 1px solid red;
}

.user-form__title {

}

.form {
    margin: 0 auto;
        max-width: 385px;
        margin-top: 80px;
        padding-bottom: 120px;
}

.form__fieldset {
    border: none;
        margin: auto;
        max-width: 385px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
}

.form__label {
margin-bottom: 8px;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 500;
    font-style: normal;
    align-self: flex-start;
}


.form__label:last-child {
    margin-bottom: 0;
}

.form__input, .form__select {
    border: #838383 solid 1px;
        border-radius: 4px;
        width: 100%;
        height: 50px;
        margin-bottom: 32px;
        padding: 15px;
        box-sizing: border-box;
}


.form__input::placeholder {
    color: gray;
}


.form__input:focus-visible {
    outline-color: rgb(149, 190, 175);
}

.form__button {
    height: 60px;
    width: 100%;
    max-width: 385px;
    margin-bottom: 32px;
    background-color: #D88475;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.form__button:hover {
    opacity: 0.7;
}

.form__link {
    border: 1px solid #D88475;
    height: 25px;
    width: 100px;
    font-size: 20px;
    padding: 10px;
    background-color: #D88475;
    text-decoration: none;
    border-radius: 8px;
    color: white;
}

.form__link:hover {
    opacity: 0.7;
}



.our-pets{
    height: 600px;
    text-align: center;
    border: 1px solid red;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 300px;
    border: 1px solid red;
}

.partners__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
}

.partners__list-item {
    text-decoration: none;
}

.partners__list-item:hover {
    opacity: 0.7;
}



.footer__lists {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.footer__text {
    padding: 10px;
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 5px;
}


.socials__links {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.socials__link {
    text-decoration: none;
}

.socials__link:hover {
    opacity: 0.7;
}
